<%- include('header') %>
<link href="/css/createmodify.css" rel="stylesheet">
</head>
<body>

<div class="container toprow">
    <div class="row">
        <div class="col-md-11 col-11"></div>
        <div class="col-md-1 col-1">
            <a href="/logout" class="btn btn-info btn-lg top" role="button"
               aria-pressed="true">Logout</a>
        </div>
    </div>
</div>

<div class="container formcontainer">
    <div class="text-center">
        <form method="POST" action="/actors/new" enctype="multipart/form-data">
            <h1>Add actor</h1>
            <br>
            <div class="form-group">
                <label for="actorName" class="col-sm-3 col-form-label">Name</label>
                <input type="text" class="form-control" id="actorName" name="name" autofocus required>
            </div>

            <div class="form-group">
                <label for="actorBirth" class="col-form-label">Birth year</label>
                <input type="number" class="form-control" id="actorBirth" name="birthYear" required>
            </div>

            <div class="form-group">
                <label for="actorNationality" class="col-form-label">Nationality</label>
                <input type="text" class="form-control" id="actorNationality" name="nationality" required>
            </div>

            <div class="form-group">
                <label for="filmDescription" class="col-form-label">Description</label>
                <textarea class="form-control" id="filmDescription" name="description"></textarea>
            </div>

            <div class="form-group">
                <label for="actorComment" class="col-form-label">Comment</label>
                <textarea class="form-control" id="actorComment" name="comment"></textarea>
            </div>

            <div class="form-group">
                <input type="file" id="actorPicture" name="actorPicture">
            </div>

            <div class="btn-group-vertical">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save"/>
                <a class="btn btn-lg btn-primary btn-block" href="/lists" role="button">Back</a>
            </div>

        </form>

    </div>
<%- include('footer') %>